<div class="container-fluid">
  <div class="page-header">
      <h1>Current Orders <small>Where the current orders live</small></h1>
  </div>

  <table id="orders" class="table">
    <thead>
      <tr>
        <th>Merchant Name</th>
        <th>Merchant Address</th>
        <th>Item Name</th>
        <th>Item Price</th>
        <th>Purchaser</th>
        <th>Quantity</th>
        <th>Total Order</th>
      </tr>
    </thead>
    <% @orders.each do |order| %>
      <tbody>
        <tr>
          <td><%= order.merchant.name %></td>
          <td><%= order.merchant.address %></td>
          <td><%= order.item.name %></td>
          <td><%= number_to_currency(order.item.price) %></td>
          <td><%= order.purchaser.name %></td>
          <td><%= order.quantity %></td>
          <td><%= number_to_currency(order.item.price * order.quantity) %>
        </tr>
      </tbody>
    <% end %>
  </table>


  <% if user_signed_in? %>
    <%= form_tag '/upload', multipart: true, class: 'form-inline' do %>
      <div class="form-group">
        <label for="datafileInputer">Import Merchent Data</label>
        <%= file_field_tag :file, class: 'form-control', id: 'datafileInput' %>
      </div>
      <%= submit_tag "Import", class: 'btn btn-default' %>
    <% end %>
  <% else %>
    <small>* Only logged in users can import orders.</small>
  <% end %>
</div>
